<div class="center">
    <%= form_with model: @employee do |form| %>
<div>

<div>
    <%= form.label :First_name %><br>
    <%= form.text_field :first_name %>
    <% @employee.errors.full_messages_for(:first_name).each do |message| %>
        <div><%= message %></div>
    <% end %>
</div>

<div>
    <%= form.label :Last_name %><br>
    <%= form.text_field :last_name %>
    <% @employee.errors.full_messages_for(:last_name).each do |message| %>
        <div><%= message %></div>
    <% end %>
</div>

<div>
    <%= form.label :Email %><br>
    <%= form.email_field :email %>
    <% @employee.errors.full_messages_for(:email).each do |message| %>
        <div><%= message %></div>
    <% end %>
</div>

<div>
    <%= form.label :Age %><br>
    <%= form.number_field :age %>
</div>

<div>
    <%= form.label :No_of_order %><br>
    <%= form.number_field :no_of_order %>
</div>

<div>
    <%= form.label :Full_time_avilable %>
    <%= form.check_box :full_time_avilable %>
</div>

<div>
    <%= form.label :Salary %><br>
    <%= form.number_field :salary %>
    <% @employee.errors.full_messages_for(:salary).each do |message| %>
        <div><%= message %></div>
    <% end %>
</div>

<div>
    <%= form.submit %>
</div>

<% end %>
</div>

